.cardAnuncio{
    position: relative;
    width: 250px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%);
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    white-space: nowrap; 
    

    .envolveImagemVeiculo{        
        position: relative;
        height: 186px;
    }    

    .detalhes{
        background: rgba(0, 0, 0, 0.658);
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        text-align: center;
        transition: max-height 0s, opacity 0.3s;
        max-height: 0;
        overflow: hidden;             
    }

    p{
        font-weight: 400;
        font-size: 15px;
        overflow: hidden;
    }

    .preco{
        background-color: rgb(148, 148, 148);
        color: #ffff;
        border-radius: 2px;
        padding: 2px 10px;
        margin-right: auto;
    }

    div{
        background-color: #F5F5F5;
        text-align: end;
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: 600;
        font-size: 16px;
    }
}

.cardAnuncio:hover{
    border: 1px solid;
    border-color: rgb(255, 46, 46);
    transition: 0.2s;

    .detalhes{
        transition: max-height 0.5s, opacity 0.3s;                    
        max-height: 300px;
        padding-bottom: 15px;
        z-index: 1;
        padding: 10px 0;
    }
}

@media screen {
    
    @media (min-width: 995px) and (max-width: 1249px) {

        .cardAnuncio{
            width: 200px;

            .envolveImagemVeiculo{        
                position: relative;
                height: 160px;
            }
        }
        
    }

    @media (min-width: 768px) and (max-width: 994px) {       
        
        .cardAnuncio{
            width: 148px;

            .envolveImagemVeiculo{        
                position: relative;
                width: 130px;
                height: 105px;
            }        
            
            p{
                overflow: hidden !important;
            }
            
        }
        
    }


    @media (max-width:767px) {        

        .cardAnuncio{
            margin: 0 auto;
            width: 100%;

            .envolveImagemVeiculo{        
                position: relative;
                width: 340px;
                height: 250px;            
                margin: 0 auto;                
            }
        }
         

    }


    @media (max-width:400px) {
        .cardAnuncio{
            .envolveImagemVeiculo{
                max-width: 270px;
                max-height: 200px;
            }
        }
    }

  }