.container{
    padding: 20px;
    background-color: #000000;
    background-size: 10px 10px;
    color: rgb(212, 212, 212);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;

    p A{
        text-decoration: none;
        color: #CD0018;
    }
}

